@inherits LayoutComponentBase
@using Worldseed.Client.Blazor.Helpers
@using Worldseed.Client.Blazor.DTOs;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page">
    <div class="sidebar">
        @if (SessionHelper.IsAuthenticated(currentToken))
        {
            <NavMenuAuthenticated />
        }
        else
        {
            <NavMenu />
        }
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        currentToken = await localStorage.GetItemAsync<LoginTokenResponseDTO>("JWT");
    }
    
    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }
    private LoginTokenResponseDTO currentToken = null;
}